<% content_for :breadcrumbs do %>
<ol class="breadcrumb breadcrumb-chevron mb-0">
  <li class="breadcrumb-item"><strong class="badge bg-secondary rounded rounded-pill m-0 fs-6">Demo</strong></li>
  <li class="breadcrumb-item"><a href="<%= demo_start_path %>">Basic Flags</a></li>
  <li class="breadcrumb-item"><a href="<%= demo_actor_path %>">Flags & Actors</a></li>
  <li class="breadcrumb-item active" aria-current="page">Flags & Groups</li>
</ol>
<% end %>


<% if Flipper.enabled?(:demo_group, @coffee_drinker) && !Flipper.enabled?(:demo_group, current_user) %>
  <h1>One More Step</h1>
  <p>The <code>demo_group</code> feature is <del>disabled</del> for you since you don't prefer coffee. Let's update your beverage preference so you'll be included in the coffee drinkers group and get access&hellip;</p>

  <%= form_with model: current_user, method: :patch, url: profile_path do |f| %>
    <%= f.text_field :beverage, value: 'coffee', hidden: true %>
    <%= f.submit "I Prefer Coffee!", class: 'btn btn-primary w-100 rounded rounded-pill' %>
  <% end %>
<% elsif Flipper.enabled?(:demo_group, current_user) %>
  <h1>Welcome to the coffee drinker group!</h1>
  <p>The <code>demo_group</code> feature is <ins>enabled</ins> for you since you prefer coffee. Nice work! Next we'll look at how you can enable features for a percentage of users.</p>
  <%= next_button "Learn How to Toggle Features for a Percentage of Users", demo_percentage_path %>
<% else %>
  <h1>Group-based Feature Flipping</h1>
  <p>Let's see how  to <a href="https://www.flippercloud.io/docs/features#enablement-group">enable access for a group of users</a>. For that, we need to register the group and specify the conditions that determine whether a given actor is included in the group. Since our new feature would only be relevant for coffee drinkers, we'll only enable it for them.</p>

  <p>We've named this feature flag <code>demo_group</code>. We still pass <code>current_user</code> as the actor, but instead of having enabled the user directly, we'll enable the group and the current user would be enabled implicitly if they're a member of the coffee group.</p>

  <p>Behind the scenes, we've registered and defined the coffee drinker group in <code>config/initializers/flipper.rb</code>:

  <pre class="border rounded rounded-3"><code>
    Flipper.register(:coffee_drinkers) do |actor, context|
      actor.respond_to?(:coffee?) && actor.coffee?
    end
  </code></pre>
<% end %>


<% content_for :aside do %>
  <%= controls('Control Flags for a Group of Actors') do %>
    <% if Flipper.enabled?(:demo_group) %>
      <p>The <code>demo_group</code> feature is <ins>enabled</ins> for everyone.</p>
    <% else %>
      <p>The <code>demo_group</code> feature is <del>disabled</del> for anyone that doesn't have special authorization.</p>
    <% end %>

    <hr>

    <% if Flipper.enabled?(:demo_group, @water_drinker) %>
      <p>The <code>demo_group</code> feature is <ins>enabled</ins> for water drinkers.</p>
    <% else %>
      <p>The <code>demo_group</code> feature is <del>disabled</del> for water drinkers.</p>
    <% end %>


    <% if Flipper.enabled?(:demo_group, @tea_drinker) %>
      <p>The <code>demo_group</code> feature is <ins>enabled</ins> for tea drinkers.</p>
    <% else %>
      <p>The <code>demo_group</code> feature is <del>disabled</del> for tea drinkers.</p>
    <% end %>

    <% if Flipper.enabled?(:demo_group, @coffee_drinker) %>
      <p>The <code>demo_group</code> feature is <ins>enabled</ins> for coffee drinkers.</p>
    <% else %>
      <p>The <code>demo_group</code> feature is <del>disabled</del> for coffee drinkers.</p>
    <% end %>

    <% if Flipper.enabled?(:demo_group, @coffee_drinker) %>
      <%= toggle(
        label: 'Disable for Coffee Drinkers',
        form_target: disable_path(feature: :demo_group, group: :coffee_drinkers),
        form_method: :delete,
        code: 'Flipper.disable_group(:demo_group, :coffee_drinkers)',
        cli: 'flipper disable demo_group --group=coffee_drinkers'
        ) %>
    <% else %>
      <%= toggle(
        label: 'Enable for Coffee Drinkers',
        form_target: enable_path(feature: :demo_group, group: :coffee_drinkers),
        form_method: :post,
        code: 'Flipper.enable_group(:demo_group, :coffee_drinkers)',
        cli: 'flipper enable demo_group --group=coffee_drinkers'
        ) %>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <%= page_footer(__FILE__) %>
<% end %>
