<% content_for :breadcrumbs do %>
<ol class="breadcrumb breadcrumb-chevron mb-0">
  <li class="breadcrumb-item"><strong class="badge bg-secondary rounded rounded-pill m-0 fs-6">Demo</strong></li>
  <li class="breadcrumb-item"><a href="<%= demo_start_path %>">Basic Flags</a></li>
  <li class="breadcrumb-item"><a href="<%= demo_actor_path %>">Flags & Actors</a></li>
  <li class="breadcrumb-item active" aria-current="page">Flags & Groups</li>
</ol>
<% end %>


<% if Flipper.enabled?(:demo_group, @coffee_drinker) %>

  <% if Flipper.enabled?(:demo_group, current_user) %>
    <h1>Welcome to the club!</h1>
    <p>The <code>:demo_group</code> feature is <ins>enabled</ins> for you since you prefer coffee. Nice work! Next we'll look at how you can enable features for a percentage of users.</p>
    <%= next_button "Learn How Percentage Flags Work", demo_percentage_path %>
  <% else %>
    <h1>Your Beverage Preference</h1>
    <p>The <code>:demo_group</code> feature is <del>disabled</del> for you since you don't prefer coffee. Let's update your beverage preference so you'll be included in the coffee drinkers group and get access.</p>
  <% end %>

  <hr class="my-5">

  <p><strong><mark>Important:</mark></strong> Even if coffee's not your thing, the rest of the demo is only for coffee drinkers, and there's no penalty for lying.</p>

  <%= form_with model: current_user, method: :patch, url: profile_path do |f| %>
    <div class="list-group rounded-4 mb-2">
      <% %w[water tea coffee].each do |bev| %>
        <label class="list-group-item d-flex align-items-top align-content-center justify-content-between gap-2 p-3">
          <%= f.radio_button("beverage", bev, class: 'form-check-input flex-shrink-0', checked: current_user.beverage.to_s == bev) %>
          <div class="d-block w-100">
            <strong><%= bev.capitalize %></strong>
            <small class="d-block text-body-secondary">
              <%=
                if bev == 'coffee'
                  "You'll be included in the beta testing for coffee-related features!"
                else
                  "A great drink, but you won't be in the Coffee group and won't get early access to our new coffee-related features."
                end
              %>
            </small>
          </div>
          <div class="ms-4">
            <% if bev == 'water' %>
              <%= icon 'cup-straw', 'bi-large text-primary' %>
            <% elsif bev == 'tea' %>
              <%= icon 'cup', 'bi-large text-warning-emphasis' %>
            <% else %>
              <%= icon 'cup-hot', 'bi-large text-body-emphasis' %>
            <% end %>
          </div>
        </label>
      <% end %>
    </div>
    <%= f.submit "Save my Drink Preference", class: 'btn btn-primary w-100 rounded rounded-pill' %>
  <% end %>
<% else %>
  <h1>Group-based Feature Flipping</h1>
  <p>Let's see how  to <a href="https://www.flippercloud.io/docs/features#enablement-group">enable access for a group of users</a>. For that, we need to register the group and specify the conditions that determine whether a given actor is included in the group. Since our new feature would only be relevant for coffee drinkers, we'll only enable it for them.</p>

  <p>We've named this feature flag <code>demo_group</code>. We still pass <code>current_user</code> as the actor, but instead of having enabled the user directly, we'll enable the group and the current user would be enabled implicitly if they're a member of the coffee group.</p>

  <hr class="my-5">

  <p><strong><mark>Important:</mark></strong> Behind the scenes, we've already registered and defined the coffee drinker group in <code>config/initializers/flipper.rb</code>:</p>

  <pre class="border rounded rounded-4 p-3 bg-body-tertiary"><code><strong class="text-success">Flipper.register(:coffee_drinkers)</strong> do |actor, context|
  actor.respond_to?(:coffee?) && actor.coffee?
end</code></pre>
<% end %>


<% content_for :aside do %>
  <div class="card border-5 border-dark rounded-4">
    <div class="card-header p-3 pb-2 border-bottom">
      <%= flag_status(:demo_group) %>
      <ul class="list-group list-group-flush pt-0 border-top mt-2">
        <% [
          ['Fully enabled for everyone?', Flipper.enabled?(:demo_group), 'Flipper.enabled?(:demo_group)'],
          ['Enabled for the current user?', Flipper.enabled?(:demo_group, current_user), "Flipper.enabled?(:demo_group, current_user)"],
        ].each do |scenario| %>
          <%= status_item(*scenario) %>
        <% end %>
      </ul>
    </div>
    <div class="card-body p-5">
      <% if Flipper.enabled?(:demo_group) %>
        <p class="m-0">The <code>:demo_group</code> feature is <ins>enabled</ins> for everyone.</p>
      <% else %>
        <p class="m-0">The <code>:demo_group</code> feature is <del>disabled</del> for anyone that doesn't have special authorization.</p>
      <% end %>

      <hr>

      <% if Flipper.enabled?(:demo_group, @water_drinker) %>
        <p class="m-0">The <code>:demo_group</code> feature is <ins>enabled</ins> for water drinkers.</p>
      <% else %>
        <p class="m-0">The <code>:demo_group</code> feature is <del>disabled</del> for water drinkers.</p>
      <% end %>


      <% if Flipper.enabled?(:demo_group, @tea_drinker) %>
        <p class="m-0">The <code>:demo_group</code> feature is <ins>enabled</ins> for tea drinkers.</p>
      <% else %>
        <p class="m-0">The <code>:demo_group</code> feature is <del>disabled</del> for tea drinkers.</p>
      <% end %>

      <% if Flipper.enabled?(:demo_group, @coffee_drinker) %>
        <p class="m-0">The <code>:demo_group</code> feature is <ins>enabled</ins> for coffee drinkers.</p>
      <% else %>
        <p class="m-0">The <code>:demo_group</code> feature is <del>disabled</del> for coffee drinkers.</p>
      <% end %>
    </div>
    <%= controls('Toggling an Flag for an Actor') do %>
      <div class="w-100">
        <% if Flipper.enabled?(:demo_group, @coffee_drinker) %>
          <%= toggle(
            label: 'Disable for Coffee Drinkers',
            form_target: disable_path(feature: :demo_group, group: :coffee_drinkers),
            form_method: :delete,
            ruby: 'Flipper.disable_group(:demo_group, :coffee_drinkers)',
            cli: 'flipper disable demo_group --group=coffee_drinkers'
            ) %>
        <% else %>
          <%= toggle(
            label: 'Enable for Coffee Drinkers',
            form_target: enable_path(feature: :demo_group, group: :coffee_drinkers),
            form_method: :post,
            ruby: 'Flipper.enable_group(:demo_group, :coffee_drinkers)',
            cli: 'flipper enable demo_group --group=coffee_drinkers'
            ) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :footer do %>
  <%= page_footer(__FILE__) %>
<% end %>
