<h1>Group-based Feature Flipping</h1>

<p>We've toggled features for all users, and we've toggled features for a single user. Now it's time to see how you could enable a feature for multiple users based on shared attributes or contexts.</p>

<p>Like enabling a feature for a specific user, enabling a feature for a group will override less-specific contexts.</p>

<p><strong><mark>Important:</mark></strong> In order to <a href="https://www.flippercloud.io/docs/features#enablement-actor">enable access for individual users, accounts, or any other "Actor"</a> the model must respond to a <code>flipper_id</code> method that returns a unique identifier. You can implement this method yourself or include the <code>Flipper::Identifier</code> module in your model, and Flipper will use the Class and ID. i.e. <code>User;1</code>.</p>

<fieldset>
  <legend>Enable Something Just for Yourself</legend>

  <%= flash %>

  <p>We've named this feature flag <code>demo_group</code> because it only enables the feature for a single user. In this case, we'll use <code>current_user</code>, but in practice, you could use any instance of a User as long as it responds to <code>flipper_id</code>.</p>

  <hr>

  <% if Flipper.enabled?(:demo_group) %>
    <p>The <code>demo_group</code> feature is <ins>enabled</ins> for everyone.</p>
  <% else %>
    <p>The <code>demo_group</code> feature is <del>disabled</del> for anyone that doesn't have special authorization.</p>
  <% end %>

  <hr>

  <% if current_user && Flipper.enabled?(:demo_group) %>
    <p>The <code>demo_group</code> feature is <em>implicitly</em> <ins>enabled</ins> for you since it's enabled for everyone.</p>
  <% elsif current_user &&  Flipper.enabled?(:demo_group, current_user) %>
    <p>The <code>demo_group</code> feature is <em>explicitly</em> <ins>enabled</ins> for you.</p>
  <% elsif current_user && !Flipper.enabled?(:demo_group, current_user) %>
    <p>The <code>demo_group</code> feature is <em>implicitly</em> <del>disabled</del> for you as well.</p>
  <% end %>


  <hr>


  <% if current_user && Flipper.enabled?(:demo_group, current_user) %>
    <div class="example">
      <%= button_to "Disable :demo_group for You", disable_path(feature: :demo_group, user: true), method: :delete %>
      <code>Flipper.disable(:demo_group, current_user)</code>
    </div>

    <hr>
    <p>Nice work! Next we'll look at how you can enable features for a percentage of users.</p>
    <%= button_to "Learn How Toggle Features for a Percentage of Users ", demo_percentage_path, method: :get %>

  <% elsif current_user %>
    <div class="example">
      <%= button_to "Enable :demo_group for Just You", enable_path(feature: :demo_group, user: true), method: :post %>
      <code>Flipper.enable(:demo_group, current_user)</code>
    </div>
  <% end %>
</fieldset>

<%= page_footer(__FILE__) %>
