<h1>Register</h1>

<%= form_with model: @user, method: :post, url: users_path do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  	<legend>Your Details</legend>

	  <div class="field">
	    <%= f.label :email %>
	    <%= f.email_field :email, required: true, autofocus: true %>
	  </div>

	  <div class="field">
	    <%= f.label :password %>
	    <%= f.password_field :password, required: true %>
	  </div>

	  <div class="field">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation, required: true %>
	  </div>
	</fieldset>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>
