<footer class="d-flex justify-content-between border-top gap-3 my-5 py-4">
  <div class="d-flex justify-content-center gap-2">
    <a target="_blank" rel="noreferrer" class="link-offset-2 link-underline link-underline-opacity-25 icon-link" href="/flipper">
      <%= icon 'toggles' %>
      Flipper UI
    </a>

    <a target="_blank" rel="noreferrer" class="ms-4 link-offset-2 link-underline link-underline-opacity-25 icon-link" href="/cli">
      <%=icon 'terminal' %>
      Command Line
    </a>

  </div>
  <div class="d-flex justify-content-center gap-2">
    <span class="fw-bold">View Source</span>
    <a target="_blank" rel="noreferrer"
       class="link-offset-2 link-underline link-underline-opacity-25 icon-link"
       href="https://github.com/flippercloud/flipper-rails-demo/tree/main<%= locals[:file] %>">
      <%= icon 'github' %>
      <code><%= locals[:file] %></code>
    </a>
  </div>
</footer>
