<!DOCTYPE html>
<html>
  <head>
    <title>Flipper Rails Demo</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <% if notice %><p><strong><mark><%= notice.html_safe %></mark></strong></p><hr><% end %>
    <% if alert %><p><strong><mark><%= alert.html_safe %></mark></strong></p><hr><% end %>

    <% if current_user -%>
      <%= button_to "Log out (#{current_user.email})", log_out_path, method: :delete %>
    <% else -%>
      <%= link_to "Home", root_path %> |
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Log in", login_path %>
    <% end -%>
    <hr>
    <%= yield %>
  </body>
</html>
